body {
    margin: 50px;
    text-align: center;
}

h1 {
    font: status-bar;
    font-size: 30px;
    text-transform: uppercase;
}

p {
    font: status-bar;
}

#myCanvas {
    border: 5px solid black;
}